body {
    padding: 0;
    background-color: aquamarine;
}

header ul {
    list-style: none;
    float:right;
    text-align: justify;
    line-height: normal;
    font-size: 25px;
    display: inline
    ;
}

.header {
    border: 5px solid red;
    
}

.name
    {
    display: grid;
    justify-content: center;
    border: 2px dashed lightcoral;
    font-size: 40px;
   
    }

.box {
    height: 40px;
    width: 40px;
    padding:40px;
    border: 5px black solid;
}